@model MarketPlace.Models.Supplier

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-shadow-h1-top">Create supplier</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control border-dark" placeholder="@Html.DisplayNameFor(model => model.Name)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Name" class="form-control border-dark" placeholder="@Html.DisplayNameFor(model => model.Telephone)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Name" class="form-control border-dark" placeholder="@Html.DisplayNameFor(model => model.Address)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Name" class="form-control border-dark" placeholder="@Html.DisplayNameFor(model => model.City)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Name" class="form-control border-dark" placeholder="@Html.DisplayNameFor(model => model.Province)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-sm border-dark" />
                <a asp-action="Index" class="btn btn-success btn-sm border-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
