@model IEnumerable<MarketPlace.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-shadow-h1-top">Supplier list</h1>

<p>
    <a asp-action="Create" class="btn btn-dark btn-sm border-dark">Create Supplier</a>
</p>
<hr />
<div class="card-deck">
    <div class="">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="perspective-left">
                    <a style="width: 15rem; background-image: radial-gradient( circle 592px at 48.2% 50%, rgba(255,255,249,0.6) 0%, rgba(160,199,254,1) 74.6% ); " class="card border-dark mb-3 text-left text-decoration-none text-dark shadow-lg" asp-action="Details" asp-route-id="@item.Id">
                        <div style="background-image: linear-gradient( 109.6deg, rgba(14,11,56,1) 11.2%, rgba(239,37,37,1) 91.1% );" class="card-header text-right text-white bg-dark mb-3 text-uppercase">
                            <h5><img style="filter: invert(100%);" src=https://cdn.jsdelivr.net/npm/bootstrap-icons/icons/people.svg width="32" height="32" alt=""> | @Html.DisplayFor(modelItem => item.Name)</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title small"><strong>Code: </strong>S.@Html.DisplayFor(modelItem => item.Id)</h5>
                            <h5 class="card-title small"><strong>@Html.DisplayNameFor(model => model.Address): </strong>@Html.DisplayFor(modelItem => item.Address)</h5>
                            <h5 class="card-title small"><strong>@Html.DisplayNameFor(model => model.City): </strong>@Html.DisplayFor(modelItem => item.City)</h5>
                            <h5 class="card-title small"><strong>@Html.DisplayNameFor(model => model.Province): </strong>@Html.DisplayFor(modelItem => item.Province)</h5>
                        </div>
                        <div style="background-image: linear-gradient( 179.7deg, rgba(197,214,227,1) 2.9%, rgba(144,175,202,1) 97.1% );" class="card-footer text-muted">
                            <p class="card-text"><small class="text-dark"><strong>@Html.DisplayNameFor(model => model.Telephone): </strong>@Html.DisplayFor(modelItem => item.Telephone)</small></p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
