@model MarketPlace.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-shadow-h1-top">
    Edit product | <small>Code:  @Html.DisplayFor(model => model.categoryId)@Html.DisplayFor(model => model.brandId)@Html.DisplayFor(model => model.Id)</small></h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control border-dark"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" step="0.01" min="0.01" class="form-control border-dark" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control border-dark" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="Image" />
                <label class="control-label">Image</label>
                <br />
                <img src="~/images/products/@Model.Image" class="img-thumbnail border-dark" id="image"
                     style="max-height: 96px; max-width: 96px;"
                     display=@(!string.IsNullOrEmpty(@Model.Image) ? "block" : "none")
                     asp-append-version="true" />
                <br />
                <br />
                <input asp-for="Image" type="file" accept=".png, .jpg, .jpeg" id="selectImage" />
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Favorite" /> @Html.DisplayNameFor(model => model.Favorite)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label">@Html.DisplayNameFor(model => model.Category.Name) <select asp-for="categoryId" class="form-control border-dark" asp-items="ViewBag.categoryId"></select></label>
                <label asp-for="brandId" class="control-label">@Html.DisplayNameFor(model => model.Brand.Name) <select asp-for="brandId" class="form-control border-dark" asp-items="ViewBag.brandId"></select></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-sm border-dark" />
                <a asp-action="Index" class="btn btn-success btn-sm border-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js//preview.js"></script>
